h5py
pybind11
tqdm
mujoco
pyyaml
rospkg
einops
mediapy
pexpect
ipython
packaging
matplotlib
pyquaternion
opencv-python
dynamixel-sdk
torchvision
torch
catkin-tools
mujoco==2.3.7
dm_control==1.0.14
git+https://github.com/sainavaneet/detr.git
